<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Speed (km/h)', 120]
        ]);

        var options = {
          width: 400, height: 400,
          yellowFrom: 130, yellowTo: 180,
          redFrom: 180, redTo: 300,
          //majorTicks: 2,
          minorTicks: 12,
          max: 300
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, Math.round(300 * Math.random()));
          chart.draw(data, options);
        }, 100);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 50%; height: 50%;"></div>
  </body>
</html>
